body {
    font-family: "Montserrat", sans-serif;
    color: rgb(48, 48, 48);
    background-image: linear-gradient(to right top, #e1a36f, #e1a972, #e0b075, #e0b679, #dfbc7d, #dfc082, #dfc587, #dfc98d, #e0cd93, #e0d19a, #e1d4a0, #e2d8a7);
  }
  
  @media (max-width: 480px) {
    .github-repository {
      font-size: 13px;
      padding: 10px;
    }
  }
  