h1 {
    color: #bd5532;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    font-size: 70px;
    padding: 10px 0px 10px 0px;
    margin: 0px;
    line-height: 0.8;
  }
  h2 {
    color: #6d7975;
    font-size: smaller;
    margin: 0;
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 50px;
    }
  }
  