.container-app {
    max-width: 600px;
    text-align: center;
    display: block;
    margin: 20px auto 0px;
    padding: 0px 0px 0px;
    border-color: rgb(59, 59, 59);
    border-style: 1px solid;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgb(65 50 100 / 20%);
    background-color: #fafafa;
    
  }

  .github-repository {
    padding: 30px;
    text-align: center;
  }
  
  .github-repository a:hover {
    font-weight: bold;
  }

  
  .current-temperature {
    position: relative;
    left: -30px;
    margin: 0px 10px;
  }
  
  @media (max-width: 480px) {
    .icon {
      height: 50px;
    }
  
    .pin1 {
      position: relative;
      top: 30px;
    }
    .container-app {
      margin: 0px;
    }
    .container-current-temperature {
      padding: 0px;
    }
  }
  


{/*searchcss*/}
  .row {
    max-width: 500px;
    margin: 0px auto;
  }
  .btn {
    line-height: 1.4em;
  }
  
  .city-text {
    border: 1px solid #eba689;
    font-size: smaller;
  }
  
  ::placeholder {
    opacity: 0.4;
  }
  
  .city-text:hover {
    background-color: #eeeeee;
  }
  
  .submit-button {
    background-color: #eba689;
    box-shadow: 0 20px 40px rgb(65 50 100 / 10%);
    border: 1px solid #eba689;
    font-size: smaller;
  }
  
  .submit-button:hover {
    background-color: #ee7862;
    border: 1px solid #ee7862;
    font-weight: bold;
  }
  
  .location-button {
    box-shadow: 0 20px 40px rgb(65 50 100 / 10%);
    background-color: #b0b3a2;
    border: 1px solid#b0b3a2;
    font-size: smaller;
  }
  
  .location-button:hover {
    background-color: #848871;
    border: 1px solid #848871;
    font-weight: bold;
  }
  
  @media (max-width: 480px) {
  }
  
{/*datacss*/}
h1 {
  color: #6d7975;
  text-transform: uppercase;
  font-family: "Amatic SC", cursive;
  font-size: 100px;
  padding: 10px 0px 10px 0px;
  margin: 0px;
  line-height: 0.8;
}
h2 {
  color: #6d7975;
  font-size: smaller;
  margin: 0;
}

@media (max-width: 480px) {
  h1 {
    font-size: 50px;
  }
}




{/*currentweathercss*/}
ul {
  list-style: none;
  padding: 20px 0px 20px 0px;
}

li {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.currentTemperature {
  font-style: bold;
  font-size: 70px;
  font-family: "Amatic SC", cursive;
}
.icon {
  position: relative;
  top: -7px;
  margin: 0px 20px;
}
.units {
  position: relative;
  left: -45px;
  top: -20px;
  font-size: 40px;
}

.container-current-temperature {
  display: block;
  margin: 0px auto 0px;
}
.col-sm-8 {
  padding: 0px;
}

.col-sm-4 {
  font-size: smaller;
  padding: 0px;
}

.description {
  text-transform: capitalize;
}
.humidity {
  display: inline;
}

.wind {
  display: inline;
}

@media (max-width: 480px) {
  .currentTemperature {
    font-size: 50px;
  }
  .units {
    font-size: 25px;
  }
  ul {
    padding: 0px;
  }
}




{/*forecastcss*/}